<<<<<<< HEAD
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
=======
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
>>>>>>> fe2851ceadd54888df3c57d3103f3808fb5506e7
