body{
    text-align: center;
}
input{
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    height: 30px;
    padding:5px;
}
button{
    background: gray;
    border: 1px solid #000;
    color: #fff;
    padding:12px;
    border-radius: 3px;
}
ul > li{
    padding: 10px;
    width: 250px;
    margin:2px;
    background: #ccc;
    color: #000;
}
span{
    float: right;
}
li > input{
    border:none;
    padding:0;
    background: transparent;
}